@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  font-size: 62.5%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(173, 188, 225);
  position: relative;
}
*{
 font-size: 62.5%;
 font-family: 'Roboto Slab', serif;
}